.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-div {
  width: 1000px;
}

@media(max-width: 1020px){
  .main-div {
    width: 810px;
  }
}

@media(max-width: 820px){
  .main-div {
    width: 600px;
  }
}

@media(max-width: 610px){
  .main-div {
    width: 490px;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  p {
    font-size: 14px;
  }
}

.image {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
